


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <h2>카테고리등록</h2>
        <form method="post" action="" th:action="@{/product/insertcategory}">
            <div class="mt-3">
                <label for="mainCategoryId">메인카테고리id</label>
                <select name="mainCategoryId">
                    <option value="">메인카테고리선택</option>
                    <option value="100">상의</option>
                    <option value="200">바지</option>
                    <option value="300">아우터</option>
                    <option value="400">신발</option>
                </select>
            </div>
            <div class="mt-3">
                <label for="subCategoryId">서브카테고리id</label>
                <input type="text" class="form-control" name="subCategoryId">
            </div>
            <div class="mt-3">
                <label for="categoryname">카테고리이름</label>
                <input type="text" class="form-control" name="categoryName">
            </div>

            <div class="mt-5">
                <button class="btn btn-primary">등록</button>
            </div>
        </form>
    </div>

</div>
</html>




