<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<link rel="stylesheet" href="./goods__list.css" />
<div layout:fragment="content" class="main">
    <h2>상품리스트</h2>
    <div class="container mt-2">
        <form action="" th:action="@{/product/list/1}" method="get">
            <div class="row">
                <div class="col-4" th:with="category=${param.category}">
                    <select class="form-select" aria-label="Default select example" name="category">
                        <option value="all"     th:selected="${#strings.equals(category,'all')    ? false : false}">전체검색</option>
                        <option value="상의"   th:selected="${#strings.equals(category,'상의')  ? true : false}">상의</option>
                        <option value="하의" th:selected="${#strings.equals(category,'하의')? true : false}">하의</option>
                        <option value="신발"    th:selected="${#strings.equals(category,'신발')   ? true : false}">신발</option>
                    </select>
                </div>
                <div class="col-6">
                    <input  type="text" class="form-control" name="searchWord" placeholder="검색어를 입력해주세요."
                            th:value="${param.searchTxt}">
                </div>
                <div class="col-2"><button class="btn btn-primary">검색</button></div>
            </div>
        </form>
    </div>
    <div class="container1">
        <th:block th:each="product : ${products.getContent()}">
            <div class="item">
                <div class="imgBox">
                    <th:block th:each="productThumbnail : ${product.productImages}">
                            <img th:if="${productThumbnail.thubmnail} == 1" src="https://mok-s3.s3.ap-northeast-2.amazonaws.com/productDefaultImage/ab580bff-f3fd-499b-93e4-d8edd9968d6b.jpg" th:src="${productThumbnail.imageName}" alt="탁상용 조명" />
                    </th:block>
                </div>
                <div class="textBox">
                    <a th:href="@{/product/view/{productId}(productId=${product.id})}">
                    <p class="textBox__name" th:text="${product.ProductName}">탁상용 조명</p>
                    <p class="textBox__price" th:text="${product.ProductPrice}">260,000 원</p>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
    <div>
        <nav aria-label="Page navigation example" class="mt-5 d-flex justify-content-center">
            <ul class="pagination">
                <li th:if="${products.hasPrevious()}"  class="page-item"><a class="page-link" href="#">이전</a></li>
                <th:block th:each="page : ${#numbers.sequence(1, products.getTotalPages())}">
                <li class="page-item">
                    <th:block th:if="${param.category != null}">
                    <a class="page-link" th:text="${page}" th:href="@{/product/list/{page}(page=${page},
                                                                                     category=${param.category},
                                                                                      searchWord=${param.searchWord})}">0</a>
                    </th:block>
                    <th:block th:unless="${param.category != null}">
                        <a class="page-link" th:text="${page}" th:href="@{/product/list/{page}(page=${page})}">0</a>
                    </th:block>
                </li>
                </th:block>
                <li th:if="${products.hasNext()}" class="page-item"><a class="page-link" href="#">다음</a></li>
            </ul>
        </nav>
    </div>

    <script th:inline="javascript">

    </script>
</div>
</html>
