<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<link rel="stylesheet" href="./goods__list.css" />
<div layout:fragment="content" class="main">
    <h2>상품리스트</h2>
    <div class="container1">
        <th:block th:each="product : ${products.getContent()}">
            <div class="item">
                <div class="imgBox">
                    <th:block th:each="productThumbnail : ${product.productImages}">
                    <img th:if="${productThumbnail.thubmnail} == 1" src="https://mok-s3.s3.ap-northeast-2.amazonaws.com/productDefaultImage/ab580bff-f3fd-499b-93e4-d8edd9968d6b.jpg" th:src="${productThumbnail.imageName}" alt="탁상용 조명" />
                    </th:block>
                </div>
                <div class="textBox">
                    <p class="textBox__name" th:text="${product.ProductName}">탁상용 조명</p>
                    <p class="textBox__price" th:text="${product.ProductPrice}">260,000 원</p>
                </div>
            </div>
        </th:block>
    </div>
    <div>
        <nav aria-label="Page navigation example" class="mt-5 d-flex justify-content-center">
            <ul class="pagination">
                <li th:if="${products.hasPrevious()}"  class="page-item"><a class="page-link" href="#">이전</a></li>
                <th:block th:each="page : ${#numbers.sequence(1, products.getTotalPages())}">
                <li class="page-item"><a class="page-link" href="#" th:href="@{/product/list/{page}(page=${page})}" th:text="${page}">0</a></li>
                </th:block>
                <li th:if="${products.hasNext()}" class="page-item"><a class="page-link" href="#">다음</a></li>
            </ul>
        </nav>
    </div>
</div>