<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <h2>카테고리 등록 및 리스트</h2>
        <form action="" th:action="@{/cs/insertFaqCategory}" method="post">
            <div class="row">
                <div class="col">
                    <label class="form-label" for="bigFaqCategory" name="bigFaqCategory">대분류</label>
                    <select class="form-control bigFaqCategory" id="bigFaqCategory" name="bigFaqCategory">
                        <option value="">대분류</option>
                        <option value="FAQ001">회원정보</option>
                        <option value="FAQ002">상품확인</option>
                        <option value="FAQ003">주문/결제</option>
                        <option value="FAQ004">배송</option>
                        <option value="FAQ005">교환/취소(반품)</option>
                        <option value="FAQ006">서비스</option>
                    </select>
                </div>
                <div class="col ">
                    <label class="form-label" for="smallFaqCategory" name="smallFaqCategory">소분류</label>
                    <span class="FaqCategory">
                    <select class="form-control" id="smallFaqCategory" name="smallFaqCategory">
                        <option value="">소분류</option>

                    </select>
                    </span>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-primary" id="btnCategory">저장</button>
            </div>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">대분류</th>
                    <th scope="col">소분류</th>
                    <th scope="col">삭제</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="item,status:${faqCategoryList}">
                    <tr>
                        <td th:text="${status.index+1}"></td>
                        <td th:text="${item.bigFaqCategory.getValue()}" ></td>
                        <td th:text="${item.smallFaqCategory.getValue()}" ></td>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <td><button class="btn btn-danger btnDelete" th:data-no="${item.id}" th:value="${item.id}">삭제</button></td>
                        </th:block>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </form>
        <script>

           $(".bigFaqCategory").on("change",function(){
               if($(".bigFaqCategory").val() == "FAQ001"){
                   $(".FaqCategory").html(`<select class="form-select btnLevel" name="smallFaqCategory">
                             <option value="FAQ00101">가입/인증</option>
                             <option value="FAQ00102">로그인/정보</option>
                             <option value="FAQ00103">탈퇴/기타</option>
                             </select> `)
               }
               else if($(".bigFaqCategory").val() == "FAQ002"){
                   $(".FaqCategory").html(`<select class="form-select btnLevel" name="smallFaqCategory">
                             <option value="FAQ00201">상품/문의</option>
                             <option value="FAQ00202">불량/하자</option>
                             </select> `)
               }
               else if($(".bigFaqCategory").val() == "FAQ003"){
                   $(".FaqCategory").html(`<select class="form-select btnLevel" name="smallFaqCategory">
                             <option value="FAQ00301">주문</option>
                             <option value="FAQ00302">결제수단</option>
                             </select> `)
               }
               else if($(".bigFaqCategory").val() == "FAQ004"){
                   $(".FaqCategory").html(`<select class="form-select btnLevel" name="smallFaqCategory">
                             <option value="FAQ00401">주문</option>
                             <option value="FAQ00402">기타</option>
                             </select> `)
               }
               else if($(".bigFaqCategory").val() == "FAQ005"){
                   $(".FaqCategory").html(`<select class="form-select btnLevel" name="smallFaqCategory">
                             <option value="FAQ00501">교환/반품</option>
                             <option value="FAQ00502">취소/반품(환불)</option>
                             </select> `)
               }
               else if($(".bigFaqCategory").val() == "FAQ006"){
                   $(".FaqCategory").html(`<select class="form-select btnLevel" name="smallFaqCategory">
                             <option value="FAQ00601">혜택</option>
                             <option value="FAQ00602">후기</option>
                             <option value="FAQ00602">고객센터</option>
                             </select> `)
               }
           })
            $(".btnDelete").on("click",function(){
          const $parent = $(this).parent().parent();
          console.log($parent);
          const loggedId = $(this).data("no");
          console.log(loggedId);
          $.ajax({
              url:"/cs/deleteFaqCategory",
              data:{id:$(this).data("no")},
              method:"POST",
              success:function(data){
                if(data.isDelete){
                alert("삭제되었습니다.")
                location.reload();
                }else{
                alert("오류입니다.")
                }

              },
              fail:function(){
              }
          });
          return false;
      });

        </script>
    </div>
</div>