<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mt-5 mb-5">FAQ WRITE</h2>
                <form action="" th:action="@{/cs/insertFaq}" method="post">
                    <div class="row">
                        <div class="col">
                            <label class="form-label" for="faqCategoryId" name="faqCategory">카테고리</label>
                            <select class="form-control faqCategory" id="faqCategoryId" name="faqCategoryId">
                                <th:block th:each="item: ${faqCategoryList}">
                                    <option th:value="${item.id}" th:text="|${item.bigFaqCategory.getValue()} -- ${item.smallFaqCategory.getValue()}|">대분류</option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="subject" class="form-label">제목</label>
                        <input type="text" class="form-control" id="subject" placeholder="title" name="faqTitle">
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">CONTENT</label>
                        <textarea type="text" class="form-control" id="content"
                                  placeholder="content" name="faqContent"  rows="10"></textarea>

                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button class="btn btn-primary" id="btnJoinConfirm">저장</button>
                        <a href="javascript:history.back();" class="btn btn-secondary">취소</a>
                    </div>
                </form>
                <script>
                    ClassicEditor
                        .create( document.querySelector( "#content" ),{
                            ckfinder:{
                                uploadUrl:"/cs/upload"
                            }
                        } )
                        .catch( error => {
                            console.error( error );
                        });


                                $(".bigFaqCategory").on("change",function(){
                                    if($(".bigFaqCategory").val() == "FAQ001"){
                                        $(".FaqCategory").html(`<select class="form-select btnLevel" name="smallFaqCategory">
                                                  <option value="FAQ00101">가입/인증</option>
                                                  <option value="FAQ00102">로그인/정보</option>
                                                  <option value="FAQ00103">탈퇴/기타</option>
                                                  </select> `)
                                    }
                                    else if($(".bigFaqCategory").val() == "FAQ002"){
                                        $(".FaqCategory").html(`<select class="form-select btnLevel" name="smallFaqCategory">
                                                  <option value="FAQ00201">상품/문의</option>
                                                  <option value="FAQ00202">불량/하자</option>
                                                  </select> `)
                                    }
                                    else if($(".bigFaqCategory").val() == "FAQ003"){
                                        $(".FaqCategory").html(`<select class="form-select btnLevel" name="smallFaqCategory">
                                                  <option value="FAQ00301">주문</option>
                                                  <option value="FAQ00302">결제수단</option>
                                                  </select> `)
                                    }
                                    else if($(".bigFaqCategory").val() == "FAQ004"){
                                        $(".FaqCategory").html(`<select class="form-select btnLevel" name="smallFaqCategory">
                                                  <option value="FAQ00401">주문</option>
                                                  <option value="FAQ00402">기타</option>
                                                  </select> `)
                                    }
                                    else if($(".bigFaqCategory").val() == "FAQ005"){
                                        $(".FaqCategory").html(`<select class="form-select btnLevel" name="smallFaqCategory">
                                                  <option value="FAQ00501">교환/반품</option>
                                                  <option value="FAQ00502">취소/반품(환불)</option>
                                                  </select> `)
                                    }
                                    else if($(".bigFaqCategory").val() == "FAQ006"){
                                        $(".FaqCategory").html(`<select class="form-select btnLevel" name="smallFaqCategory">
                                                  <option value="FAQ00601">혜택</option>
                                                  <option value="FAQ00602">후기</option>
                                                  <option value="FAQ00603">고객센터</option>
                                                  </select> `)
                                    }
                                })

                </script>
            </div>
        </div>
    </div>
</div>