<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container" id="textBox">
        <h3 class="fontTitle">공지사항 글 보기</h3>
        <div class="justify-content-center border-bottom mb-3">
            <h3 class="text-center fontTitle" th:text="${noticeInfo.noticeTitle}">서울사랑 누리집이 새롭게 바뀌었습니다</h3>
        </div>

        <div class="nav justify-content-end mb-3" style="font-size: 20px;">
    <span class="text-end ms-auto">
        <a href="#none" class="fontSmall"
           title="글자크기 작게">
            <span class="minus"><i class="bi bi-dash-square"></i></span>
        </a>
        <a href="#none"  class="fontBig"
           title="글자크기 크게">
            <span class="plus"><i class="bi bi-plus-square"></i></span>
        </a>
    </span>
        </div>

        <div class="contents notice-view js_font_chg text-center">
            <div class="view-box ">
                <div class="view-header row border-top">
                    <div class="col-md-6 mt-2">
                        <dl>
                            <dt>작성일</dt>
                            <dd th:text="${#temporals.format(noticeInfo.noticeDate,'yyyy-MM-dd HH:mm')}"></dd>
                        </dl>
                    </div>
                    <div class="col-md-6 mt-2">
                        <dl>
                            <dt>조회수</dt>
                            <dd th:text="${noticeInfo.noticeView}">1854</dd>
                        </dl>
                    </div>
                </div>

                <div class="view-content border-top" style="height: 500px;">
                    <div class="content h-100 mt-3" th:utext="${noticeInfo.noticeContent}">

                    </div>
                </div>

                <div class="view-header row border-top d-flex align-items-center">
                    <th:block th:each="item:${#numbers.sequence(no-1,no)}">
                    <div class="col-md-6 mt-2" >
                        <dl>
                            <dt th:text="${item==no-1} ? '이전글' :'다음글'"></dt>
                            <dd>

                                <th:block th:if="${item == 0}">
                                    <span >이전글은 없습니다.</span>
                                </th:block>
                                <th:block th:if="${pagination.totalElements == 1 && item == no && item ==1}">
                                    <span >다음글은 없습니다.</span>
                                </th:block>
                                <a th:if="${item == no-1 && item >0}" th:href="@{/cs/notice/view/{id}/{no}(id=${noticeList.get(0).id},no=${no-1})}">
                                <span th:text="${item==no-1} ? ${noticeList.get(0).noticeTitle} : ${noticeList.get(2).noticeTitle}"></span></a>

                                <th:block th:if="${pagination.totalElements != 1 && pagination.totalElements != 2 && item == no && item>no-1}">
                                    <a th:if="${item != 1}" th:href="@{/cs/notice/view/{id}/{no}(id=${noticeList.get(2).id},no=${no+1})}">
                                    <span th:text="${noticeList.get(2).noticeTitle}"></span></a>
                                    <a th:if="${item == 1}" th:href="@{/cs/notice/view/{id}/{no}(id=${noticeList.get(1).id},no=${no+1})}">
                                        <span th:text="${noticeList.get(1).noticeTitle}"></span></a>
                                </th:block>

                                <th:block th:if="${pagination.totalElements == 2 && item == no && item !=1}">
                                    <span >다음글은 없습니다.</span>
                                </th:block>
                                <th:block th:if="${pagination.totalElements == 2 && item == no && item ==1}">
                                    <a th:if="${item == 1}" th:href="@{/cs/notice/view/{id}/{no}(id=${noticeList.get(1).id},no=${no+1})}">
                                        <span th:text="${noticeList.get(1).noticeTitle}"></span></a>
                                </th:block>

                            </dd>
                        </dl>
                    </div>
                    </th:block>
                </div>
                <div class="text-start">
                    <h2>댓글 목록</h2>
                    <th:block th:each="item,status:${commentList}">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" th:text="${item.writer.userId}"></h5>
                                <small th:text="${#temporals.format(item.commentDate,'yyyy-MM-dd HH:mm')}">2024-01-22</small>
                            </div>
                            <p class="mb-1" th:text="${item.commentContent}">작성자 아이디</p>

                            <!-- 대댓글 리스트 -->
                            <ul class="list-group mt-3 ml-5">
                                <li class="list-group-item">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-1">대댓글 작성자아이디</h6>
                                        <small>2024-01-23</small>
                                    </div>
                                    <p class="mb-1">사용자1에 대한 첫 번째 대댓글입니다.</p>
                                </li>
                                <!-- 추가적인 대댓글 항목들을 필요에 따라 반복해서 추가할 수 있습니다. -->
                            </ul>

                        </li>
                    </ul>
                    </th:block>
                </div>
                <div class="text-start">
                    <h2>댓글 달기</h2>
                    <form th:action="@{/cs/comment/insert}" method="post">
                        <input type="hidden" name="id" th:value="${noticeInfo.id}">
                        <input type="hidden" name="memberId" th:value="${#authentication.principal.loggedMember.id}">
                        <div class="form-group">
                            <label for="commentContent">댓글:</label>
                            <textarea class="form-control" id="commentContent" name="commentContent" rows="4" placeholder="댓글을 입력하세요" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">댓글 작성</button>
                    </form>
                </div>
                <div class="view-footer border-top mt-1 align-items-center">
                    <th:block th:each="item:${#numbers.sequence(0,pagination.totalPages - 1)}">
                        <li class="page-item" th:if="${no > (pagination.totalElements-pagination.size)}">
                            <a class="btn btn-secondary" href="#" th:href="@{/cs/notice/list(page=${item})}" >목록</a>
                        </li>
                        <li class="page-item" th:if="${item!=no/pagination.size}">
                            <a class="btn btn-secondary" href="#" th:href="@{/cs/notice/list(page=0)}" >목록</a>
                        </li>
                    </th:block>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')"> <!--어드민계정이면 ture-->
                        <a th:href="@{/cs/notice/delete/{id}(id=${noticeInfo.id})}" class="btn btn-danger">글 삭제</a>
                        <a th:href="@{/cs/notice/update/{id}(id=${noticeInfo.id})}" class="btn btn-primary mx-1">글 수정</a>
                    </th:block>
                </div>

            </div>
        </div>
    </div>
    <script>
        //글자 크기
        let titleFont = 28
        let basicFont = 16
        console.log(basicFont);
        $(".fontBig").on("click",function(){
         basicFont++; // basicFont는 1씩 계속 증가하고,
         titleFont++
         console.log(basicFont);
         // 20 넘어가면 20에서 동작 멈춤
            if( basicFont > 20  ) {basicFont = 20; return false;}
            if( titleFont > 32 ) {titleFont = 32; return false;}
                $("#textBox").css("font-size", basicFont);
                $(".fontTitle").css("font-size", titleFont);

        });

        $(".fontSmall").on("click",function(){
         basicFont--; // basicFont는 1씩 계속 감소하고,
         titleFont--
         console.log(basicFont);
         // 20 넘어가면 20에서 동작 멈춤
            if( basicFont < 10 ) {basicFont = 10; return false;}
            if( titleFont < 22 ) {titleFont = 22; return false;}
                $("#textBox").css("font-size", basicFont);
                $(".fontTitle").css("font-size", titleFont);
        });




    </script>
</div>