<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <h2>MY PAGE</h2>
        <table class="table">
            <div class="profile">
                <th:block th:if="${memberInfo.profileImageUrl==null}">
                    <img src="/images/user.png" id="memberProfileImage">
                </th:block>
                <th:block th:unless="${memberInfo.profileImageUrl==null}">
                    <img src="${pageContext.request.contextPath}" th:src="@{|/upload/${memberInfo.profileImageUrl}|}" id="memberProfileImage">
                </th:block>
            </div>
            <form method="post" action="" enctype="multipart/form-data" id="profileImageForm" style="display: none">
                <input th:type="file" name="profileImageUrl" id="profileSelect">
            </form>
           <!-- <div>
                <a th:href="@{/image/upload(id=${memberInfo.id})}" class="btn btn-primary mx-1">프로필 수정</a>
            </div>-->
            <tbody>
            <tr>
                <th scope="row">USER ID</th>
                <td th:text="${memberInfo.userId}">Mark</td>
            </tr>
            <tr>
                <th scope="row">USER NAME</th>
                <td th:text="${memberInfo.userName}">Mark</td>
            </tr>
            <tr>
                <th scope="row">EMAIL</th>
                <td th:text="${memberInfo.email}">Mark</td>
            </tr>
            <tr>
                <th scope="row">NICK NAME</th>
                <td th:text="${memberInfo.nickName}">Mark</td>
            </tr>
            <tr>
                <th scope="row">address</th>
                <td th:text="${memberInfo.address}">Mark</td>
                <td th:text="${memberInfo.addressDetail}">Mark</td>
            </tr>
            <tr>
                <th scope="row">mobile</th>
                <td th:text="${memberInfo.mobile}">Mark</td>
                <td th:text="${memberInfo.phone}">Mark</td>
            </tr>
            <!--<tr>
                <th scope="row">AGE</th>
                <td th:text="${memberInfo.age}">Mark</td>
            </tr>-->

            </tbody>
        </table>
        <div class="mt-5 d-flex justify-content-center" >
            <a th:href="@{/member/delete(id=${memberInfo.id})}" class="btn btn-danger">회원 탈퇴</a>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')"> <!--어드민계정이면 ture-->
                <a th:href="@{/admin/update/{id}(id=${memberInfo.id})}" class="btn btn-primary mx-1">회원 정보 수정</a>
            </th:block>
            <th:block sec:authorize="!hasRole('ROLE_ADMIN')">
            <a th:href="@{/member/update(id=${memberInfo.id})}" class="btn btn-primary mx-1">회원 정보 수정</a>
            </th:block>
        </div>
    </div>
    <script th:inline="javascript">



        const id = [[${memberInfo.id}]];
        const loggedId = [[${#authentication.principal.loggedMember.id}]]
        $(".profile").on("click", function () {
            if(loggedId!=id) {
                alert("프로필을 수정할 수 없습니다");
                return false;
            }
            $("#profileSelect").trigger("click");
        });
        $("#profileSelect").on("change", function (e) {
            const file = e.target.files[0];
            if (!file.type.match("image.*")) {
                alert("이미지 파일만 가능합니다.");
                return false;
            }
            const profileImageForm = $("#profileImageForm")[0];
            const formData = new FormData(profileImageForm);
            $.ajax({
                url:  `/api/member/${id}/profileImageUrl`,
                data: formData,
                contentType: false,  //  x-www-form-urlencoded로 되는거 막기
                processData: false,  //  query string으로 파싱되는거 막기
                //enctype:"multipart/form-data"
                method: "PUT",
                success: function (response) {
                    console.log("파일 변환 성공===",response);
                    const fileReader = new FileReader();
                    console.log("fileReader===", fileReader);
                    fileReader.onload = function () {
                        console.log("파일 변경");
                        console.log(response.memberInfo.profileImageUrl);
                        $("#memberProfileImage").attr("src", "/upload/"+response.memberInfo.profileImageUrl);
                    }
                    fileReader.readAsDataURL(file); // 요거 써야지만 onload 이벤트 발생한다.
                }
            })
            //  key:value

        })
    </script>
</div>
