<!DOCTYPE html>
<html lang="en"
      xmlns:th= "http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<div class="container" th:fragment="headerFragment">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/images/alien.png" />
        </a>
        <div sec:authorize="!isAuthenticated()">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/board/list.html" th:href="@{/board/list02}" class="nav-link">board</a></li>
                <li class="nav-item"><a href="/board/list.html" th:href="@{/member/insert}" class="nav-link">join</a></li>
                <li class="nav-item"><a href="/board/list.html" th:href="@{/member/login}" class="nav-link">login</a></li>
                <li class="nav-item"><a th:href="@{/product/list/1}" class="nav-link">productList</a></li>
                <li class="nav-item"><a th:href="@{/codyboard/list/1}" class="nav-link">codyboardlist</a></li>
                <li class="nav-item"><a th:href="@{/product/myorderlist/mok119}" class="nav-link">주문내역</a></li>
                <li class="nav-item"><a href="" th:href="@{/cs/faq}" class="nav-link">FAQ</a></li>
                <li class="nav-item"><a href="" th:href="@{/cs/notice/list}" class="nav-link">공지사항</a></li>
                <li class="nav-item"><a href="" th:href="@{/cs/qna/list}" class="nav-link">1대1 QNA</a></li>
            </ul>
        </div>
        <div sec:authorize="isAuthenticated()">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/board/list.html" th:href="@{/board/list02}" class="nav-link">board</a></li>
                <li class="nav-item"><a href="/board/list.html" th:href="@{/member/mypage/{id}(id=${#authentication.principal.loggedMember.id})}" class="nav-link"
                                        th:text="${#authentication.principal.loggedMember.userName}"
                ></a></li>
                <li class="nav-item"><a href="" th:href="@{/memberList/list}" class="nav-link">회원리스트</a></li>
                <li class="nav-item"><a href="" th:href="@{/cs/faq}" class="nav-link">FAQ</a></li>
                <li class="nav-item"><a href="" th:href="@{/cs/notice/list}" class="nav-link">공지사항</a></li>
                <li class="nav-item"><a href="" th:href="@{/cs/qna/list}" class="nav-link">1대1 QNA</a></li>
                <li class="nav-item"><a href="" th:href="@{/member/logout}" class="nav-link">logout</a></li>
            </ul>
        </div>
    </header>
</div>
</html>