<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="mt-5 mb-5">코디게시판작성</h2>
                <form action="" th:action="@{/codyboard/insert}" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <div class="mb-3">

                            <label for="file" class="form-label">코디사진 </label>
                            <div>
                                <img src="https://mok-s3.s3.ap-northeast-2.amazonaws.com/productDefaultImage/ab580bff-f3fd-499b-93e4-d8edd9968d6b.jpg" class="img-thumbnail" alt="..." type="file" id="preview1">
                                <input class="img-thumbnail" type="file" id="file1" name="file" value="https://mok-s3.s3.ap-northeast-2.amazonaws.com/productDefaultImage/ab580bff-f3fd-499b-93e4-d8edd9968d6b.jpg">
                            </div>
                            <div>
                                <img src="https://mok-s3.s3.ap-northeast-2.amazonaws.com/productDefaultImage/ab580bff-f3fd-499b-93e4-d8edd9968d6b.jpg" class="img-thumbnail" alt="..." type="file" id="preview2">
                                <input class="img-thumbnail" type="file" id="file2" name="file" value="https://mok-s3.s3.ap-northeast-2.amazonaws.com/productDefaultImage/ab580bff-f3fd-499b-93e4-d8edd9968d6b.jpg">
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="codyBoardTitle" class="form-label">제목</label>
                        <input type="text" class="form-control" id="productName" placeholder="제목" name="codyBoardTitle">
                    </div>
                    <div class="mb-3">
                        <label for="codyBoardContent" class="form-label">내용</label>
                        <textarea type="text" class="form-control" id="content"
                                  placeholder="내용" name="productDetailImage"  rows="10"></textarea>
                        <input type="text" th:value="${codyBoardBucket}" id="bucketName" name="codyBoardBucket">
                    </div>
                    <input type="text" th:value="${#authentication.principal.loggedMember.userId}" name="userName">
                    <div class="d-flex justify-content-center mt-5">
                        <button class="btn btn-primary">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $("#file1").on("change", function (e) {
            const file = e.target.files[0];
            if (!file.type.match("image.*")) {
                alert("이미지 파일만 가능합니다.");
                return false;
            }
            let fileReader = new FileReader();
            fileReader.onload=function(e) {
                $("#preview1").attr("src",e.target.result);
            }
            fileReader.readAsDataURL(file);

        });
        $("#file2").on("change", function (e) {
            const file = e.target.files[0];
            if (!file.type.match("image.*")) {
                alert("이미지 파일만 가능합니다.");
                return false;
            }
            let fileReader = new FileReader();
            fileReader.onload=function(e) {
                $("#preview2").attr("src",e.target.result);
            }
            fileReader.readAsDataURL(file);
        });

        $("#maincategory").on("change", function(e){
            console.log("여기의 값은==>>" + $(this).val());
            const productMainCategoryId = $(this).val();
            // $("#subcategory").remove()
            $.ajax({
                url: "/product/findsubcategory",
                method: "GET",
                data:{
                    "productMainCategoryId": productMainCategoryId
                },
                success: function (data){
                    $.each(data, function(index, item){
                        $("#subcategory").append(`<option value="${item.id}">${item.subProductCategoryName}</option>`)
                    })

                    console.log(data)
                }

            })
        });

        $("#tagButton").on("click",function(e){
            $("#productTagAdd").append(`<input type="text" class="form-control" id="productTag4" placeholder="태그" name="productTag">`)
        })


    </script>
</div>
</html>
